/*-----------------------DEFAULT------------------------------------------*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: 'Time new Roman';
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

$wh: white;
$cb: #0E2149;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@font-face {
	font-family: gotham;
	src: url('../fonts/Gotham Pro Medium.eot');
	src: local('☺'), url('../fonts/Gotham Pro Medium.woff') format('woff'), url('../fonts/Gotham Pro Medium.ttf') format('truetype'), url('../fonts/Gotham Pro Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.favorite_active {
    color: red;
}
.description {
    font-size: 18px;
    line-height: 130%;
    font-family: Roboto;
    color: #cfcfcf;
    font-family: 'Roboto';
}
.wh{
    color: $wh;
}
.title{
    font-family: gotham;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
}
.checkbox__checkbox{
    display: none;
}
.checkbox__tick{
    width: 22px;
    height: 22px;
    background-color: $wh;
    position: relative;
    display: inline-block;
}
.checkbox__tick::before{
    content: '';
    width: 15px;
    height: 15px;
    background:#0E2149;
    position: absolute;
    top: 18%;
    left: 18%;
    opacity: 0;
}
.checkbox__checkbox:checked + .checkbox__tick::before{
    opacity: 1;
}
.checkbox__text{
    color: $wh;
    display: inline-block;
    position: relative;
    top: -6px;
    margin-left: 13px;
}
.footer-form__send{
    padding: 11px 32px;
    background: #D79F43;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    font-family: gotham;
    display: block;
    margin-top: 18px;
    transition-duration: 1s;
}
.footer-form__send:hover{
    background: #D5AF86;
}
.footer-form__agreement-public{
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon-tab-deactive{
	transform: rotate(180deg);
}
.wh-text{
	color: $wh;
}
.bk-text{
	color: #0E2149;
}
.restange-button{
    padding: 14px 19px;
    background: #FFFFFF;
    border: 1px solid #B8C1CA;
    display: flex;
	flex-basis: 285px;
    max-width: 285px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.restange-button__title{
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #B8C1CA;
    font-family: Roboto;
    display: inline-block;
}
.restange-button__icon{
    font-size: 9px;
    display: inline-block;
    transform: rotate(180deg);
}
/*------------------------------------HEADER--------------------------------------*/
.header-top__content{
	margin-top: 20px;
}
.header__container{
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-top__logo{
	width: 53px;
	height: 53px;
	display: inline-block;
}
.header-top__logo-text{
	width: 147px;
	height: 18px;
	display: inline-block;
	margin-top: 18px;
	margin-left: 14px;
}
.soft-text{
	color: #717171;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	line-height: 19px;
}
.header-top__description{
	display: inline-block;
	margin-top: 10px;
	margin-left: 30px;
}
[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}

.main__block{
	width: 10rem;
	height: 10rem;
	background-color: wheat;
}
.wraper{
	overflow: hidden;
	width: 100%;
}
.header__header-top-content{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.header-top__favorite::before{
	content: "3";
	border-radius: 50%;
	background-color:#D79F43;
	line-height: 18px;
	padding: 1px 7px;
	color: white;
	font-size: 14px;
	position: relative;
	left: 17px;
	top: 7px;
}
.icon-favorite-settings{
	font-size: 22px;
	color: #717171;
}
.header-top__basket-icon{
	font-size: 22px;
	padding: 12px;
	border-radius: 50%;
	background: #EFF2F4;
	color: #0E2149;
	display: inline-block;
}
.header-top__favorite{
	display: inline-block;
}
.icon-favorite{
	color: #0E2149;
}
.header-top__basket{
	display: inline-block;
	margin-left: 38px;
}
.text-black{
	color: $cb;
	font-family: gotham;
}
.header-top__budget{
	font-family: gotham;
	color: $cb;
}
.header-top__info{
	display: inline-block;
	margin-left: 13px;
	line-height: 19.5px;
}
@media (max-width: 670px){
	.header-top__description{
		display: none;
	}
	.header-top__info{
		display: none;
	}
	.header-top__basket-icon{
		padding: 0;
		background-color: white;
	}
	.header-top__basket::before{
		content: "3";
		border-radius: 50%;
		background-color:#D79F43;
		line-height: 18px;
		padding: 1px 7px;
		color: white;
		font-size: 14px;
		position: relative;
		left: 39px;
		top: -18px;
	}
	.header-top__basket{
		margin-left: 0px;
	}
	.header-top__logo{
		width: 44px;
		height: 44px;
	}
	.header-top__logo-text{
		width: 123px;
		height: 15px;
	}
}
.header-body{
	background: $cb;
	min-height: 50px;
}
.header__header-top{
	padding-bottom: 20px;
}
.header-body__link{
	font-size: calc(16px * (100vw / 1920));
	line-height: 19px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: gotham;
	text-transform: uppercase;
}
.header-body__navigation{
	padding-top: 20px;
	display: inline-block;
	width: 613px;
	display: flex;
	justify-content: space-between;
}
.header-body__form-search{
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	width: 100%;
}
.header-body__content{
	display: flex;
	justify-content: space-between;
}
.header-body__search-icon{
	cursor: pointer;
}
.header{
	font-family: Roboto;
}
.header-body__search-input, .header-body__search-input::placeholder{
	background: #253B6A;
	color: white;
	position: relative;
	height: 100%;
}
.header-body__search{
	height: 50px;
	background: #253B6A;
	width: 348px;
	padding-left: 23px;
	padding-top: 6px;
	margin-left: 20px;
}
.header-body__search-icon{
	font-size:25px;
	z-index: 4;
	color: white;
	margin-right: 13px;
}
.header-body__container-burger-menu{
	background-color: #0E2149;
	z-index: 2;
	display: none;	
	position: absolute;
	width: 100%;
	padding-bottom: 20px;
}
.header{
	z-index: 10;
}
.burger-menu__item{
	font-family: gotham;
	color: white;
	font-size: 26px;
	line-height: 18.88px;
}
.burger-menu__item-container{
	margin-bottom: 24px;
}
.header-body__burger-menu{
	padding-top: 28px;
}
.burger-menu__item-container-icon{
	color: white;
	font-size: 8px;
	display: inline-block;
}
.burger-menu__item-container-tab{
	display: flex;
	justify-content: space-between;
}
.catalog__item-container{
	background-color: #CFB08B;
	padding-left: 15px;
}
.burger-menu__catalog{
	background-color: #CFB08B;
	margin-bottom: 24px;
}
.catalog__item{
	color: white;
	font-size: 24px;
	line-height: 120%;
	font-family: Roboto;
}
.hr{
	background-color: white;
	color: white;
}
.yellow{
	color:#D5AF86;
}
.bold-gotham{
	font-family: gotham;
}
.catalog__item-icon{
	color: white;
	display: inline-block;
	margin-right: 17px;
	font-size: 24px;
}
.burger-menu__catalog{
	width: calc(100% + 30px);
	position: relative;
	top: 0px;
	left: -15px;
}
.separator-container{
	padding-top: 21px;
	padding-bottom: 21px;
}
.separator{
	background-color: white;
	min-width: 10px;
	height: 2px;
	opacity: 0.3;
}
.catalog__item-first{
	padding-top: 20px;
}
.catalog__item-end{
	padding-bottom: 20px;
}
.catalog{
	display: block;
}
@media(max-width: 830px){
	.header-body__search{
		width: 212px;
		position: relative;
		left: 15px;
	}
}
@media(max-width: 680px){
	.header-body__navigation{
		display: none;
	}
    .product__menu-item{
        padding: 13px 12px;
    }
	.header-body__burger::before{
		background-color: white;
		width: 27px;
		height: 5px;
		position: relative;
		display: block;
		top: 9px;
		content: '';
	}
	.header-body__burger::after{
		top: 14px;
		background-color: white;
		width: 27px;
		height: 5px;
		position: relative;
		display: block;
		content: '';
	}
	.header-body__burger{
		top: 0px;
		background-color: white;
		width: 27px;
		height: 5px;
		position: relative;
		display: block;
		margin-top: 14px;
	}
	.header-body__search-input{
		display: none;
	}
	.header-body__search{
		background-color: $cb;
		width: 61px;
	}
	.header-body__search-icon{
		margin: 0;
		position: relative;
		top: 6px;
	}
	.header-body__search, .header-body__form-search{
		display: inline-block;
	}
}

/*-----------------------------------------------FOTTER-------------------------------*/

.footer__top{
    background: radial-gradient(15.94% 134.15% at 43.26% 111.07%, #3D568A 0%, #0E2149 100%);
    min-height: 300px;
    padding-top: 63px;
    font-family: Roboto;
}
.footer-info__description{
    margin-top: 28px;
    width: 270px;
}
.footer__information{
    display: inline-block;
    position: relative;
    top: -82px;
}
.footer__logo{
    width: 181px;
    height: 181px;
    margin-left: 68px;
}
.footer__form{
    display: inline-block;
    position: relative;
    top: -21px;
    margin-left: 52px;
}
.footer-form__personal-info{
    display: inline-block;
}
.input-name{
    padding: 15px 19px;
    max-width: 288px;
    height: 44px;
    font-size: 13px;
    line-height: 130%;
    color: #B8C1CA;
}
.footer-form__name{
    display: block;
    margin-bottom: 10px;
}
.footer-form__comment{
    resize: none;
    width: 288px;
    height: 99px;
    font-size: 13px;
    line-height: 130%;
    color: #B8C1CA;
    position: relative;
    top: 18px;
    padding: 15px 19px;
    margin-left: 6px;
}
.footer-form__agreement-public{
    display: block;
}
.footer{
    margin-top: 100px;
}
@media(max-width: 1230px){
    .footer__logo{
        display: none;
    }
    .footer__information{
        display: block;
        top: -34px;
        margin-left: 50px;
    }
    .footer-info__description{
        width: 420px;
    }
    .input-name{
        width: 327px;
    }
    .footer-form__comment{
        width: 353px;
        margin-left: 21px;
    }
}
.footer__body{
	margin-top: 44px;
	position: relative;
}
.footer{
	font-family: Roboto;
}
.footer__product-title{
	font-family: gotham;
	font-size: 18px;
	line-height: 130%;
	color: #0E2149;

}
.footer__products{
	margin-top: 17px;
	display: flex;
	justify-content: space-between;
}
.footer-product__item{
	max-width: 220px;
	font-size: 18px;
	line-height: 130%;
	color: #838383;
	margin-bottom: 10px;
}
.footer__etc{
	margin-top: 38px;
}
.footer-etc{
	display: flex;
	justify-content: space-between;
	max-width: 704px;
	flex-wrap: wrap;
}
.footer-etc__item{
	font-family: gotham;
	font-size: 18px;
	line-height: 130%;
	color: #0E2149;
}
.footer-etc__item:nth-child(1){
	width: 116px;
}
.footer-etc__item:nth-child(2){
	width: 155px;
}
.footer-etc__item:nth-child(3){
	width: 93px;
}
.footer__separator{
	position: absolute;
	width: 95%;
	top: 248px;
	left: 3%;
	height: 1px;
	background-color: #B8C1CA;
}
.footer__botom{
	margin-top: 100px;
	padding-bottom: 10px;
}
.footer__adress{
	font-size: 15px;
	line-height: 130%;
	color: #0E2149;
}
.footer__content-botom{
	display: flex;
	justify-content: space-between;
}
.footer__contact{
	width: 36px;
	height: 36px;
	margin-right: 12px;
	position: relative;
	top: -15px;
}
.footer__contact:nth-child(3){
	margin: 0;
}
.footer__prodvigate_uppercase{
	text-decoration: underline;
}
.footer__adress_800px{
	font-size: 15px;
	line-height: 130%;
	color: #0E2149;
	display: none;
}
.product-item {
    width: 285px;
    height: 490px;
    border: 1px solid #EFF2F4;
    padding: 0px 20px;
    position: relative;
    font-family: 'Roboto';
    padding-bottom: 20px;
  }
  
  
  .product-item__state {
    background: #EB7D3F;
    display: inline-block;
    height: 24px;
    width: 42px;
    position: relative;
	z-index: 5;
  }
  
  .product-item__state::before {
    content: '';
    position: absolute;
    background-color: #EB7D3F;
    height: 6px;
    width: 23px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    left: 0px;
    top: 21px;
	z-index: 5;
  }
  
  .product-item__state::after {
    content: '';
    position: absolute;
    background-color: #EB7D3F;
    height: 6px;
    width: 22px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    left: 19px;
    top: 21px;
	z-index: 5;
  }
 
  .product-item__state-text {
	font-weight: 400;
	font-size: 13px;
	line-height: 130%;
	margin-top: 5px;
	text-align: center;
	color: #FFFFFF;
    letter-spacing: -0.125em;
  }
  .product-item:hover{
	border-color: #CFB08B;
  }
  .product-item__image-hover{
	position: absolute;
	z-index: 3;
	opacity: 0;
	transition-duration:0.5s ;
	width: 256px;
  }
  .product-item__image-hover:hover{
	opacity: 1;
	cursor: pointer;
  }
  .product-item__hover-ellipse{
	width: 70px;
	height: 70px;
	background-color: $wh;
	border-radius: 50%;
	position: relative;
	top: 65px;
	left: 94px;
	opacity: 0.7;

  }
  .product-item__hover-text{
	font-size: 10px;
	line-height: 110%;
	text-align: center;
	color: #0E2149;
	position: relative;
	top: 17px;
  }
  .product-item__hover-icon{
	width: 30px;
	height: 16px;
	position: relative;
	top: 13px;
	left: 20px;
  }
  .product-item__hover-background{
	width: 251px;
	height: 210px;
	background-color: white;
	opacity: 0.5;
	position: absolute;
  }
  
  .product-item__favorite {
    display: inline-block;
    color: #B8C1CA;
    position: relative;
    top: 10px;
    margin-left: 179px;
	z-index: 100;
    cursor: pointer;
  }
  
  .product-item__image {
    position: absolute;
    top: 30px;
    left: 18px;
	width: 256px;
  }
  
  .product-item-title {
    margin-top: 209px;
    font-family: gotham;
    font-size: 20px;
    line-height: 24px;
    color: #0E2149;
	cursor: pointer;
	transition-duration: 0.5s;
  }
  .product-item-title:hover {
	text-decoration: underline;
  }
  
  .product-item-text {
    margin-top: 14px;
    width: 100%;
  }
  
  .product-item__price {
    font-family: 'Abhaya Libre';
    margin-top: 11px;
    font-size: 24px;
    line-height: 28px;
    color: #0E2149;
  }
  
  .product-item__discount {
    margin-top: 6px;
  }
  
  .product-item__no-price {
    font-family: gotham;
    font-size: 18px;
    line-height: 21px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    color: #D5AF86;
    display: inline-block;
  }
  
  .product-item__seving {
    display: inline-block;
    margin-left: 27px;
    max-width: 164px;
    height: 24px;
  }
  
  .product-item__seving-percent {
    height: 100%;
    padding: 3px 7px;
    background: #D5AF86;
    color: white;
    font-family: 'Abhaya Libre';
    font-size: 13px;
    line-height: 130%;
    display: inline-block;
  }
  
  .product-item__seving-money {
    max-width: 122px;
    padding: 3px 8px;
    font-size: 13px;
    line-height: 130%;
    color: #717171;
    border: 1px solid #EFF2F4;
    border-left: none;
    display: inline-block;
  }
  
  .product-item__buttons {
    margin-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .button-blue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 11px 26px;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    font-family: gotham;
    background: #0E2149;
	transition-duration: 0.5s;
	cursor: pointer;
  }
  .button-blue:hover{
	background: #1D3976;
  }
  .button-yello {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 11px 24px;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    font-family: gotham;
    background: #D5AF86;
	transition-duration: 0.5s;
	cursor: pointer;
  }
  .button-yello:hover{
	background: #F2CBA2;
  }
  .product-item__state_hits, .product-item__state_hits::after, .product-item__state_hits::before{
	background-color: #77A43E;
  }
  .product-item__state-text_hits{
	letter-spacing: 0%;
	font-weight: 400;
	font-size: 13px;
	line-height: 130%;
	margin-top: 5px;
	text-align: center;
	color: #FFFFFF;
  }
  .product-item__state_news , .product-item__state_news::after, .product-item__state_news::before{
	background-color: #53BADA;
  }
  .product-item__state-text_news{
	letter-spacing: 0%;
	font-weight: 400;
	font-size: 13px;
	line-height: 130%;
	margin-top: 5px;
	text-align: center;
	color: #FFFFFF;
  }
@media(max-width: 850px){
	.footer-product__item{
		max-width: 183px;
		font-size: 18px;
		line-height: 130%;
		color: #838383;
		margin-bottom: 10px;
	}
	.footer__contact{
		top: 0px;
	}
	.footer__prodvigate{
		text-align: right;
		max-width: 214px;
	}
	.footer__adress_800px{
		display: inline-block;
	}
	.footer__adress{
		display: none;
	}
}

@media(max-width: 750px){
    .footer__information{
        display: block;
    }
    .footer-info__description{
        width: 305px;
    }
    .footer-info__title{
        font-size: 24px;
    }
    .input-name{
        width: 327px;
    }
    .footer__form{
        margin: 0;
    }
    .footer__information{
        margin: 0;
    }
    .footer-form__comment{
        max-width: 290px;
        margin-left: 0px;
        display: block;
    }
    .checkbox__text {
        font-size: 14px;
        top: 2px;
    }
    .footer-form__text-agreement-public{
        width: 267px;
    }
    .footer-form__text-agreement-personal{
        width: 246px;
    }
    .footer-form__agreement-public{
        margin-top: 36px;
    }
}
@media(max-width: 700px){
	.footer__products{
		display: block;
		max-width: 354px;
	}
	.footer__product{
		display: inline-block;
		margin-left: 24px;
	}
	.footer__product:nth-child(1), .footer__product:nth-child(3), .footer__product:nth-child(5) .footer__product:nth-child(7), .footer__product:nth-child(9){
		margin-left: 0px;
	}
	.footer__product:nth-child(2), .footer__product:nth-child(4){
		position: relative;
		top: -22px;
	}
}
@media(max-width: 650px){
	.button-blue {
		padding: 11px 13px;
	  }
	  .button-yello {
		padding: 11px 13px;
	  }
	  .product-item__seving {
		margin-left: 1px;
	  }
	  .product-item__image-hover{
		left: -20px;
	  }
	  .product-item {
		padding: 0 12px;
		padding-bottom: 12px;
	  }
	  .product-item__image {
		left: 0px;
		width: 242px;
		height: 193px;
	  }
	  .product-item__favorite{
		  margin-left: 157px;
	  }
}
@media(max-width: 650px){
	.footer__content-botom{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.footer__separator{
		top: 330px;
		left: 3%;
	}
	.footer__adress_800px{
		display: none;
	}
	.footer__adress{
		display: inline-block;
		justify-content: center;
		font-size: 15px;
		line-height: 130%;
		text-align: center;
		color: #0E2149;
		margin-bottom: 27px;
	}
	.footer__prodvigate{
		font-size: 15px;
		line-height: 130%;
		text-align: center;	
		color: #0E2149;
		margin-top: 23px;
	}
}
@media(max-width: 388px){
	.footer-product__item{
		max-width: 130px;
	}
	.footer__separator{
		top: 400px;
	}
	.footer__product:nth-child(2), .footer__product:nth-child(4) {
		top: -69px;
	}
}
@media(max-width: 335px){
    .footer-form__text-agreement-public{
        width: 267px;
        position: relative;
        top: -25px;
        left: 20px;
    }
}
